In [1]:
import pandas as pd
from nltk.stem import WordNetLemmatizer, PorterStemmer
from nltk.corpus import stopwords

In [2]:
df=pd.read_csv(r"twitter_test.csv")
df

          id                                              tweet
0      31963  #studiolife #aislife #requires #passion #dedic...
1      31964   @user #white #supremacists want everyone to s...
2      31965  safe ways to heal your #acne!!    #altwaystohe...
3      31966  is the hp and the cursed child book up for res...
4      31967    3rd #bihday to my amazing, hilarious #nephew...
...      ...                                                ...
17192  49155  thought factory: left-right polarisation! #tru...
17193  49156  feeling like a mermaid ð #hairflip #neverre...
17194  49157  #hillary #campaigned today in #ohio((omg)) &am...
17195  49158  happy, at work conference: right mindset leads...
17196  49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 2 columns]

In [3]:
from nltk.tokenize import RegexpTokenizer
tokenizer = RegexpTokenizer(f'\w+')
df['tweet'] = df["tweet"].apply(lambda x: tokenizer.tokenize(x.lower()))
df["tweet"].head()

0    [studiolife, aislife, requires, passion, dedic...
1    [user, white, supremacists, want, everyone, to...
2    [safe, ways, to, heal, your, acne, altwaystohe...
3    [is, the, hp, and, the, cursed, child, book, u...
4    [3rd, bihday, to, my, amazing, hilarious, neph...
Name: tweet, dtype: object

In [4]:
lemmatizer =WordNetLemmatizer()
def word_lemma(text):
    lemm_text = [lemmatizer.lemmatize(i) for i in text]
    return lemm_text
df["tweet"].apply(lambda x: word_lemma(x))

0        [studiolife, aislife, requires, passion, dedic...
1        [user, white, supremacist, want, everyone, to,...
2        [safe, way, to, heal, your, acne, altwaystohea...
3        [is, the, hp, and, the, cursed, child, book, u...
4        [3rd, bihday, to, my, amazing, hilarious, neph...
                               ...
17192    [thought, factory, left, right, polarisation, ...
17193    [feeling, like, a, mermaid, ð, hairflip, never...
17194    [hillary, campaigned, today, in, ohio, omg, am...
17195    [happy, at, work, conference, right, mindset, ...
17196    [my, song, so, glad, free, download, shoegaze,...
Name: tweet, Length: 17197, dtype: object

In [5]:
a = df['tweet'].values.tolist()

f = []
import string
s = string.ascii_letters

for i in a:
    c  = []
    b = ''
    for j in i:
        for k in j:
            if k in s:
                b += k
        if len(b)>0:
            c.append(b)
            b = ''
    f.append(c)

In [6]:
df["clean_test_tweet"]=f

In [7]:
df2=df.drop("tweet",axis=1)

In [8]:
def remove_sw(text):
    words=[w for w in text if w not in stopwords.words("english")]
    return words
df2["clean_test_tweet"] = df2["clean_test_tweet"].apply(lambda x: remove_sw(x))

In [9]:
# stemming lemmatizing

lemmatizer = WordNetLemmatizer()
def word_lmm(text):
    lemm_text=[lemmatizer.lemmatize(i) for i in text]
    return lemm_text

In [10]:
df2["clean_test_tweet"].apply(lambda x: word_lmm(x))
df2.head()

      id                                   clean_test_tweet
0  31963  [studiolife, aislife, requires, passion, dedic...
1  31964  [user, white, supremacists, want, everyone, se...
2  31965  [safe, ways, heal, acne, altwaystoheal, health...
3  31966  [hp, cursed, child, book, reservations, alread...
4  31967  [rd, bihday, amazing, hilarious, nephew, eli, ...

In [11]:
stemmer = PorterStemmer()
def word_st(text):
    stem_text=" ".join([stemmer.stem(i) for i in text])
    return stem_text

In [12]:
df2["clean_test_tweet"]=df2["clean_test_tweet"].apply(lambda x: word_st(x))
df2["clean_test_tweet"]

0        studiolif aislif requir passion dedic willpow ...
1        user white supremacist want everyon see new bi...
2                safe way heal acn altwaystoh healthi heal
3        hp curs child book reserv alreadi ye harrypott...
4        rd bihday amaz hilari nephew eli ahmir uncl da...
                               ...
17192    thought factori left right polaris trump usele...
17193    feel like mermaid hairflip neverreadi formal w...
17194    hillari campaign today ohio omg amp use word l...
17195    happi work confer right mindset lead cultur de...
17196       song glad free download shoegaz newmus newsong
Name: clean_test_tweet, Length: 17197, dtype: object

In [13]:
df2.head()

      id                                   clean_test_tweet
0  31963  studiolif aislif requir passion dedic willpow ...
1  31964  user white supremacist want everyon see new bi...
2  31965          safe way heal acn altwaystoh healthi heal
3  31966  hp curs child book reserv alreadi ye harrypott...
4  31967  rd bihday amaz hilari nephew eli ahmir uncl da...

In [14]:
# df2.to_csv("clean_test_tweet.csv",index=False)

In [15]:
df3=pd.read_csv(r"clean_test_tweet.csv")
df3

          id                                   clean_test_tweet
0      31963  studiolif aislif requir passion dedic willpow ...
1      31964  user white supremacist want everyon see new bi...
2      31965          safe way heal acn altwaystoh healthi heal
3      31966  hp curs child book reserv alreadi ye harrypott...
4      31967  rd bihday amaz hilari nephew eli ahmir uncl da...
...      ...                                                ...
17192  49155  thought factori left right polaris trump usele...
17193  49156  feel like mermaid hairflip neverreadi formal w...
17194  49157  hillari campaign today ohio omg amp use word l...
17195  49158  happi work confer right mindset lead cultur de...
17196  49159     song glad free download shoegaz newmus newsong

[17197 rows x 2 columns]

In [16]:
# n=5
# for i in range(n):
#     print((str(0+i)+' ')*i)

In [17]:
# a=[10,20,30,40,50,60,70,80,90,100]
# b=[]
# n=len(a)//2
# for i in range(len(a[1]):
#     if i%2 ==0:
#         b.append(a[i])
#     print(b)

In [18]:
# s="this#$321%is$%^&*an%is$%^&*example"
# output--> this 321 is an example
# a="999465"
# output-->9-9-94*65

In [19]:
# import re
# b=re.findall("[a-z]",s)
# print(b)